name: Update the library lists

on:
  schedule:
    - cron: '0 15 * * 1'
  workflow_dispatch:
  pull_request:
    paths:
      - dev/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
      with:
        extra_nix_config: |
          accept-flake-config = true

    - name: Update the Emacs package set
      run: nix flake update

    - name: Update the definitions
      run: nix develop -c just

    - name: Check the output
      run: |
        nix flake check --print-build-logs
        git add ./generated
        nix eval .#data --json | jq

    - name: Prevent flake.lock from being committed
      run: |
        rm -f flake.lock
        git rm -f --cached flake.lock

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v7
      with:
        title: 'Update the library lists'
        commit-message: 'chore: Update the library lists'
        branch: "automation/update-library-lists-${{ github.ref_name }}"
        base: master
        delete-branch: true
        add-paths: generated
        labels: automation,update
